*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: white;
    .top{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: flex-end;
        background-color: #0282f9;
        *{
            color: #ffff;
        }
        p{
            margin: 0 20px;
        }
    }
    .bottom{
        height: 120px;
        display: flex;
        align-items: center;
        .logo{
            margin-left: 150px;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            li{
                margin: 0 30px;
            }
        }
        input{
            height: 20px;
            margin-right: 150px;
        }
    }
    .jumbotron{
        width: 100%;
        height: 400px;
        background-image: url(/storage/assets/jumbotron.jpg);
        background-position: top center;
    }
}
main{
    background-color: #1c1c1c;
    color: #ffff;
    .cardComics{
        .currentS{
            width: 200px;
            height: 50px;
            background-color: #0282f9;
            color: #ffff;
            font-weight: bold;
            position: relative;
            top: -25px;
            left: 330px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .series{
            .containerSeries{
                width: 1270px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .card{
                    width: 180px;
                    height: auto;
                    margin: 15px;
                    .thumb{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .more{
            width: 100%;
            height: auto;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            button{
                width: 150px;
                height: 50px;
                background-color: #0282f9;
                color: #ffff;
                font-weight: bold;
                border: none;
            }
        }
    }
    .info{
        width: 100%;
        height: 150px;
        background-color: #0282f9;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40px;
            img{
                width: 50px;
                height: auto;
                margin-right: 10px;
            }
        }
    }
}
footer{
    background-image: url(/storage/assets/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
