* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: white;
}

header .top {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0282f9;
}

header .top * {
  color: #ffff;
}

header .top p {
  margin: 0 20px;
}

header .top p i {
  font-size: 14px;
  color: #ffff;
}

header .bottom {
  height: 120px;
  display: flex;
  align-items: center;
}

header .bottom .logo {
  margin-left: 150px;
}

header .bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header .bottom ul li {
  margin: 0 30px;
}

header .bottom ul li i {
  font-size: 14px;
  color: #0282f9;
}

header .bottom input {
  height: 20px;
  margin-right: 150px;
  text-align: right;
  border: none;
  border-bottom: 2px solid #0282f9;
}

header .jumbotron {
  width: 100%;
  height: 400px;
  background-image: url(/storage/assets/jumbotron.jpg);
  background-position: top center;
}

.mainCards {
  background-color: #1c1c1c;
  color: #ffff;
}

.mainCards .cardComics .currentS {
  width: 200px;
  height: 50px;
  background-color: #0282f9;
  color: #ffff;
  font-weight: bold;
  position: relative;
  top: -25px;
  left: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCards .cardComics .containerSeries .series {
  width: 1270px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mainCards .cardComics .containerSeries .series .card {
  width: 180px;
  height: auto;
  margin: 15px;
}

.mainCards .cardComics .containerSeries .series .card .thumb img {
  width: 100%;
  height: auto;
}

.mainCards .cardComics .more {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.mainCards .cardComics .more button {
  width: 150px;
  height: 50px;
  background-color: #0282f9;
  color: #ffff;
  font-weight: bold;
  border: none;
}

.mainCards .info {
  width: 100%;
  height: 150px;
  background-color: #0282f9;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCards .info div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.mainCards .info div img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.mainCard .cover {
  width: 100%;
  height: 100px;
  background-color: #0282f9;
  position: relative;
  margin-bottom: 50px;
}

.mainCard .cover .coverThumb {
  width: 210px;
  height: 330px;
  border: 1px solid #ffff;
  position: absolute;
  left: 420px;
  bottom: 50px;
}

.mainCard .cover .coverThumb img {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainCard .cover .coverThumb p {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  border: 1px solid #ffff;
  background-color: deepskyblue;
  color: #ffff;
}

.mainCard .contentCard {
  margin-bottom: 50px;
}

.mainCard .contentCard .container {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.mainCard .contentCard .container .infoCard h1 {
  color: #003f5e;
}

.mainCard .contentCard .container .infoCard .price {
  width: 750px;
  height: 40px;
  display: flex;
  background-color: forestgreen;
  margin-bottom: 30px;
}

.mainCard .contentCard .container .infoCard .price div {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.mainCard .contentCard .container .infoCard .price div p {
  margin-left: 25px;
}

.mainCard .contentCard .container .infoCard .price div span {
  height: 100%;
  line-height: 40px;
  padding-right: 25px;
  border-right: 1px solid #ffff;
}

.mainCard .contentCard .container .infoCard .price a {
  line-height: 40px;
  margin: 0 25px;
}

.mainCard .contentCard .container .infoCard .desc {
  width: 770px;
  font-size: 18px;
  line-height: 1.5;
  color: #7c896c;
}

footer {
  background-image: url(/storage/assets/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .containerFooter {
  width: 1200px;
  margin: auto;
  position: relative;
}

footer .containerFooter .linkFooter {
  width: 550px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

footer .containerFooter .linkFooter ul {
  margin-right: 50px;
  line-height: 1.5;
}

footer .containerFooter .linkFooter ul li h2 {
  color: #ffff;
  margin-bottom: 10px;
}

footer .containerFooter .linkFooter ul li a {
  color: #7c896c;
}

footer .containerFooter .linkFooter .shop {
  position: relative;
  top: -75px;
}

footer .containerFooter .dc-logo-bg {
  width: 600px;
  position: absolute;
  top: -60px;
  right: -100px;
}

footer .containerFooter .dc-logo-bg img {
  width: 100%;
  height: auto;
}

footer .containerFooter .privacy {
  width: 650px;
  color: #7c896c;
  position: relative;
  bottom: 50px;
}

footer .containerFooter .privacy a {
  color: #0282f9;
}

footer .bottomFooter {
  height: 100px;
  background-color: #464444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
}

footer .bottomFooter button {
  width: 130px;
  height: 50px;
  border: 2px solid #0282f9;
  background-color: transparent;
  color: #ffff;
  text-align: center;
  font-weight: bold;
}

footer .bottomFooter ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .bottomFooter ul li {
  margin-right: 15px;
}

footer .bottomFooter ul li h2 {
  color: #0282f9;
}

